    {% extends "base.html" %}

    {% block title %}
        {% if category %}
            {{ category.name }}
        {% else %}
            Товары
        {% endif %}
    {% endblock %}

    {% block content %}
        <h1>
            {% if category %}
                {{ category.name }}
            {% else %}
                Товары
            {% endif %}
        </h1>

        <div id="sidebar">
            <h2>Категории</h2>
            <ul>
                <li><a href="{% url 'shop:product_list' %}">Все</a></li>
                {% for c in categories %}
                    <li>
                        <a href="{% url 'shop:product_list_by_category' c.slug %}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="main">
            <div class="product-list">
                {% for product in products %}
                    <div class="product-item">
                        <a href="{% url 'shop:product_detail' product.id %}">
                            <h3>{{ product.name }}</h3>
                            <p>Цена: {{ product.price }} руб.</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}