{% extends "base.html" %}

{% block title %}Продажи{% endblock %}

{% block content %}
    <h1>Продажи</h1>
    <a href="{% url 'sales:sale_create' %}">Добавить продажу</a>
    <ul>
        {% for sale in sales %}
            <li>
                <a href="{% url 'sales:sale_detail' sale.id %}">
                    Продажа {{ sale.product.name }} клиенту {{ sale.client.name }}
                </a>
                - <a href="{% url 'sales:sale_update' sale.id %}">Редактировать</a>
                - <a href="{% url 'sales:sale_delete' sale.id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}