{% extends "base.html" %}

{% block title %}Продажа {{ sale.product.name }} клиенту {{ sale.client.name }}{% endblock %}

{% block content %}
    <h1>Продажа {{ sale.product.name }} клиенту {{ sale.client.name }}</h1>
    <p>Клиент: {{ sale.client.name }}</p>
    <p>Товар: {{ sale.product.name }}</p>
    <p>Количество: {{ sale.quantity }}</p>
    <p>Дата продажи: {{ sale.sale_date }}</p>
    <p>Сумма продажи: {{ sale.total_price }}</p>
    <a href="{% url 'sales:sale_update' sale.id %}">Редактировать</a>
    <a href="{% url 'sales:sale_delete' sale.id %}">Удалить</a>
    <a href="{% url 'sales:sale_list' %}">Назад к списку</a>
{% endblock %}