{% extends "base.html" %}

{% block title %}Клиенты{% endblock %}

{% block content %}
    <h1>Клиенты</h1>
    <a href="{% url 'clients:client_create' %}">Добавить клиента</a>
    <ul>
        {% for client in clients %}
            <li>
                <a href="{% url 'clients:client_detail' client.id %}">{{ client.name }}</a>
                - <a href="{% url 'clients:client_update' client.id %}">Редактировать</a>
                - <a href="{% url 'clients:client_delete' client.id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}